[Unit]
Description=Enable Jetson Nano Fan
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/fan-on.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
